@import-normalize;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.user-info {
  margin-bottom: 12px;
  width: 100%;
  max-width: 400px;
  align-self: center;
}

.user-info label {
  background-color:rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.user-info label input {
  flex: 1 1 auto;
  align-self: stretch;
  padding: 5px;
  border: none;
  margin-left: 5px;
  border-bottom-right-radius: 10px;
}

@media (min-width:400px) {
  .user-info label {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
  }
  .user-info label input {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.game {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.game .hand.player {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.game .hand.player h2 {
  margin: 0 0 -1px 0;
  padding: 3px 6px 0;
  align-self: center;
  background-color:rgb(240, 240, 240);

  border: 1px solid rgb(175, 175, 175);
  border-bottom: rgb(240, 240, 240);;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;

  order: 0;
}

.game .hand.player .action {
  order: 1;
  align-self: stretch;
  height: 68px;
  background-color:rgb(240, 240, 240);
  border-top: 1px solid rgb(175, 175, 175);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game .hand.player .action button {
  background-color:rgb(250, 250, 250);
  border: 1px solid rgb(175, 175, 175);
  border-top: none;
  height: 44px;
  min-width: 100px;
  max-width: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;

  cursor: pointer;
}

.game .hand.player .action button .card-horizontal {
  padding: 0;
  margin: 0;
  margin-left: .2em;
  border: none;
  min-width: 0;
  min-height: 0;
  background: none;
}

.game .hand.player ul {
  flex: 1 1 auto;
  align-self: stretch;
  padding: 6px 6px 0;
  background-color:rgb(240, 240, 240);

  order: 2;
}

@media (min-width:768px) {
  .game .hand.player .action button {
    height: 56px;
  }
}

.game .common {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-around;
}

.pre-play, .users, .game-controls {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.users {
  flex-direction: column;
}

.pre-play h2,
.pre-play h3,
.pre-play ul,
.pre-play ol,
.users h2,
.users h3,
.users ul,
.users ol,
.play h2,
.play h3,
.play ul,
.play ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pre-play > section {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  border-left: 1px solid rgb(175, 175, 175);
}

.pre-play > section:first-child {
  border: none;
}

.pre-play .card {
  max-width: 80px;
}

.users ol > li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;

  padding: 3px 0 0 3px;
  border-left: 1px solid rgb(175, 175, 175);
  border-top: 1px solid rgb(175, 175, 175);
}

.users ol > li:first-child,
.users ol > li:nth-child(2) {
  border-top: none;
}

.users ol > li:first-child,
.users ol > li:nth-child(3) {
  border-left: none;
}

@media (min-width:768px) {
  .users ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .users ol > li {
    flex: 1 1 auto;
    display: block;
    width: auto;
    border: none;
    border-left: 1px solid rgb(175, 175, 175);
  }
  .users ol > li:nth-child(3) {
    border-left: 1px solid rgb(175, 175, 175);
  }
}

.users h3 span {
  display: block;
  font-size: .75em;
  color: #555;
}

.users .cards li {
  max-width: 19%;
}
.users .cards .card-large {
  width: 100%;
}

.card {
  display: block;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.play .cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.play .cards li:first-child {
  border-right: 1px solid rgb(175, 175, 175);
}

section.play {
  margin-bottom: 12px;
}

/* Everywhere wrapping is needed, inline-block needs to be used
  instead of flex for android 4...
*/
.cards li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cards label {
  cursor: pointer;
}

.cards label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.cards label input[type=radio]:checked + .card .card-small {
  outline: none;
  padding: 4px 7px;
  border: 2px solid rgb(51, 170, 51);
  background-color: rgba(51, 170, 51, 0.1);
}

.card-large {
  display: none;
}

.card-small {
  font-weight: bold;
  width: 1.2em;
  width: calc(1em + 16px + 4px);
  min-width: 44px;
  min-height: 44px;
  padding: 5px 8px;
  margin: 0 2px;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.card-small.card-horizontal {
  padding: 1px;
  margin: 0;
}

@media (min-width:768px) {
  .card .card-small {
    display: none;
  }

  .card-large {
    display: block;
    margin: 0;
    padding: 2px;
    max-width: 100px;
    width: 100%;
  }

  .cards label .card-large {
    padding: 7px;
  }

  .cards label input[type=radio]:checked + .card .card-large {
    padding: 0;
    border: 7px solid rgb(51, 170, 51);
    background-color:  rgb(51, 170, 51);
    border-radius: 12px;
  }
}

.card-back {
  fill: #cc3333;
  border: none;
  padding: 2px;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.debug {
  display: none;
}
